.sidebar{
    position: fixed;
    left:0;
    bottom: 0;
    top:55px;
    width: 72px;
    z-index: 200;
}
.side-barlink{
    background-color:white;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.side-barlink:hover{
    background-color: rgb(235, 235,235);
    cursor: pointer;
}
.side-barlink img{
    height: 24px;
    margin-bottom: 4px;

}
.side-barlink div{
    font-family: Roboto,Arial;
    font-size: 10px;
    margin-bottom: 4px;
}